Options +FollowSymLinks
RewriteEngine on

RewriteRule ^en$ http://localhost/bushido-1/assets/content-en.html
RewriteRule ^acerca-de$ http://localhost/bushido-1/acerca-de.html
RewriteRule ^about$ http://localhost/bushido-1/about.html