Options +FollowSymLinks
RewriteEngine on

RewriteRule ^en$ http://localhost/bushido-redesign/assets/content-en.html
RewriteRule ^acerca-de$ http://localhost/bushido-redesign/acerca-de.html
RewriteRule ^about$ http://localhost/bushido-redesign/about.html